.carousel-caption h3, .carousel-caption p {
    text-shadow: 4px 4px 5px rgb(65, 0, 54)
}
.carousel-caption {
    background-color:rgba(245, 160, 253, 0.431)
    
    
}

.carousel p, .carousel h3{
    color: white;
}
h2 {
  color: rgb(141, 104, 175);
}
section, h4, section p{
    background-color: rgb(141, 104, 175);
    color: white;
}
footer, footer p  {
    background-color: rgb(141, 104, 175);
    color: white;
    text-shadow: 4px 4px 5px black;
    background-attachment: fixed;
    background-image: url('../img/bolo21.png');
    background-repeat: no-repeat;
   
    background-size: 2200px;
        
}
li {
    list-style-type: none;
}

a {
    color: white;
}

/* estilo da seta sobe */
.seta-sobe {
    border-radius: 10px;
    background-color: rgba(150, 19, 173, 0.479);
    color: white;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 18px;
    padding-right: 18px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}

p {
    color: rgba(52, 2, 56, 0.911);
}
h3{
    color: rgb(141, 104, 175);
}


.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 50%;
    height: 0 auto;
}

.video iframe {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    
}

.imag{
    display: flex;
}

.whats{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 65px;
    background-color: rgba(18, 124, 6, 0.856);
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px black;
    z-index: 1000;

}
.fa-whatsapp {
    margin-top: 15px;
}


@media (max-width: 992px){
    div {
        width: 100%;
        
    }

    .carousel {
        width: 100%;
        display: none;
    }
}





.maria{
    text-align: center;
}

@media (max-width: 1200px) {
   .imag {
       display: none;
       
   }

  
}
@media (min-width: 1200px) {
    .maria {
        display: none;
        
    }
    .small {
        display: none;
        
    }
}



